<ion-view class="fundoEntrar" view-title="Rota Capixaba">
        <ion-content>
        <div class="list">
        <div class="item item-input-inset">
        <label class="item-input-wrapper">
        <input type="text" placeholder="Cidade">
        </label>
        <button ng-click="irCidade()" class="button button-small">
        Buscar
        </button>
        </div>
        </div>
        <div class="vidro card">
        <div class="item item-divider">
        Próximo de você:
        </div>
        <button ng-click="irConvento()" class="rosa vidro button button-block button-stable">
                        <div class="row">
                                <div class="col">
                                <img class="imagemCidades" src="templates\img\Convento.jpeg">
                                </div>
                                <div class="col-75">
                                <a class="textoLocais">Convento da Penha</a>
                                <div class="row">
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star-half"></div>
                                <div class="km">à 7,2km de você</div>
                                </div>
                                </div>
                </button>
                <button class="rosa vidro button button-block button-stable">
                                <div class="row">
                                        <div class="col">
                                        <img class="imagemCidades" src="templates\img\PedraCebola.jpeg">
                                        </div>
                                        <div class="col-75">
                                        <a class="textoLocais">Pedra da Cebola</a>
                                        <div class="row">
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star-half"></div>
                                        <div class="km">à 5,1km de você</div>
                                        </div>
                                        </div>
                        </button>
                        <button class="rosa vidro button button-block button-stable">
                                        <div class="row">
                                                <div class="col">
                                                <img class="imagemCidades" src="templates\img\Morro-do-moreno.jpg">
                                                </div>
                                                <div class="col-75">
                                                <a class="textoLocais">Morro do Moreno</a>
                                                <div class="row">
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star-half"></div>
                                                <div class="km">à 8,5km de você</div>
                                                </div>
                                                </div>
                                </button>
                        
        </ion-content>
</ion-view>