<ion-view class="fundoEntrar" view-title="Perfil">
        <ion-content>
                <div class="card">
                 <div class="item item-text-wrap">
                        <div class="row">
                        <div class="circulo-perfil ion-android-person"></div>
                        <div class="nomePerfil">Daniel Morbeck
                                <div class="col patente">Andarilho</div>
                        </div>
                        </div>
                </div>
                </div>
                <div class="vidro card">
                                <div class="item item-divider">
                                Cidade de Domingos Martins
                                </div>
                                <div class="item item-text-wrap">
                                <button ng-click="irVouncher()" class="rosa button button-block button-calm">
                                <div class="row">
                                <div class="col">
                                <img class="imagemCidades" src="templates\img\DM2.jpeg">
                                </div>
                                <div class="col-60">
                                <a class="textoCidades">Você visitou essa cidade à 3 dias</a>
                                </div>
                                </div>
                                <div class="moeda ion-loop">
                                E$ 58,40</div>
                                </button>
                                </div>
                </div>
                <div class="vidro card">
                                <div class="item item-divider">
                                Cidade de Vila Velha
                                </div>
                                <div class="item item-text-wrap">
                                <button ng-click="irVouncherError()" class="rosa button button-block button-calm">
                                <div class="row">
                                <div class="col">
                                <img class="imagemCidades" src="templates\img\Convento.jpeg">
                                </div>
                                <div class="col-60">
                                <a class="textoCidades">Você visitou essa cidade à 78 dias</a>
                                </div>
                                </div>
                                <div class="moeda">
                                E$ 4</div>
                                </button>
                                </div>
                </div>
                <button class="button button-block button-calm">
                Check-in
                </button>
        </ion-content>
</ion-view>
