<ion-view class="fundoEntrar" view-title="Pontos Turisticos - DM">
        <ion-content>
                <button ng-click="irLocal()" class="rosa vidro button button-block button-stable">
                        <div class="row">
                                <div class="col">
                                <img class="imagemCidades" src="templates\img\pedraAzul.jpeg">
                                </div>
                                <div class="col-75">
                                <a class="textoLocais">Parque Estadual da Pedra Azul</a>
                                <div class="row">
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star"></div>
                                <div class="ion-ios-star-half"></div>
                                <div class="km">à 95,7km de você</div>
                                </div>
                                </div>
                </button>
                <button class="rosa vidro button button-block button-stable">
                                <div class="row">
                                        <div class="col">
                                        <img class="imagemCidades" src="templates\img\thumbnail_DMPraca.jpg">
                                        </div>
                                        <div class="col-75">
                                        <a class="textoLocais">Praça Arthur Gerhardt</a>
                                        <div class="row">
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star"></div>
                                        <div class="ion-ios-star-half"></div>
                                        <div class="ion-ios-star-outline"></div>
                                        <div class="km">à 47,9km de você</div>
                                        </div>
                                        </div>
                </button>
        </ion-content>
</ion-view>