<ion-view class="fundoLocal" view-title="Parque Estadual Pedra Azul">
        <ion-content>
                        <div class="vidro card">
                                        <div class="item item-divider">
                                          Localização
                                        </div>
                                        <div class="item item-text-wrap">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.2996495848865!2d-40.28900094904189!3d-20.32923615603192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb816498a913f37%3A0xa2c5411362c10f93!2sConvento+da+Penha!5e0!3m2!1spt-BR!2sbr!4v1509269710083" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                        </div>

                        <button class="midia vidro rosa button button-full button-positive ion-ios-camera">
                                Mídia
                        </button>

                        <div class="vidro card">
                                        <div class="item item-divider">
                                        <div class="row">
                                        <div class="col">
                                        <img class="circulo-avaliacao"src="templates\img\pessoinha.jpg">
                                        </div>
                                        <div class="col-60">
                                        <div class="nomeAvaliacao">Joal das Neves</div>
                                        <div class="row">
                                                <div class="Avaliacao">Avaliação: </div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="item item-text-wrap">
                                        <div class="textoAvaliacao">Pela carga histórica, esse ponto turístico e bem interessante, com vista linda para vila velha e vitória. Fácil acesso tanto para carros quanto para caminhada. Possui lanchonete com lanches gostosos e com o preço bom.</div>
                                        </div>
                                      </div>
        </ion-content>
</ion-view>