<ion-view class="rosinha" view-title="Vila Velha">
        <ion-content>
                
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="row">
                                <div class="col">
                        <div class="error">Para usufruir das promoções dessa região você precisa de E$ 50,00</div>
                        </div><div class="col">
                        <div class="sadboy ion-sad-outline"></div>                        
                        </div>
                        </div>
                    </div>
                </div>
                <div class="list card">
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-home"></i>
                            Hotel Aliança <div class="desconto">-40%</div>
                          </a>
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-android-restaurant"></i>
                            Restaurante Atlântica
                            <div class="desconto">-20%*</div>
                          </a>
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-ios-world"></i>
                            Fabrica Garoto <div class="desconto">-50%</div>
                          </a>
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-flag"></i>
                            Adrenalina Kart Cross <div class="desconto">-35%</div>
                          </a>
                        
                        </div>
        </ion-content>
</ion-view>