<ion-view class="fundoEntrar" view-title="Restaurantes - DM">
        <ion-content>
                        <button class="rosa vidro button button-block button-stable">
                                        <div class="row">
                                                <div class="col">
                                                <img class="imagemCidades" src="templates\img\thumbnail_DMRestauranteFritz.jpg">
                                                </div>
                                                <div class="col-75">
                                                <a class="textoLocais">Restaurante Chopperia Fritz Frida</a>
                                                <div class="row">
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star-half"></div>
                                                <div class="km">à 47,9km de você</div>
                                                </div>
                                                </div>
                                </button>
                                <button class="rosa vidro button button-block button-stable">
                                        <div class="row">
                                        <div class="col">
                                                <img class="imagemCidades" src="templates\img\thumbnail_DMcafe-colonial-peterle.jpg">
                                                </div>
                                                <div class="col-75">
                                                <a class="textoLocais">Café Colonial Peterle</a>
                                                <div class="row">
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star"></div>
                                                <div class="ion-ios-star-half"></div>
                                                <div class="km">à 92,8km de você</div>
                                        </div>
                                        </div>
                                </button>
        </ion-content>
</ion-view>