<ion-view class="fundoEntrar" view-title="Cidade">
        <ion-content>
                <div class="vidro card">
                        <div class="item item-divider ion-information-circled tamanhoicon">
                          Domingos Martins
                        </div>
                        <div class="rosa item item-text-wrap cidadeDescricao">
                        Na região serrana do estado está localizada a pequena cidade de Domingos Martins. Colonizada por imigrantes italianos e alemães, a cidade é repleta de construções típicas européias e festas folclóricas. A cidade é refúgio de casais, sobretudo nos períodos mais frios e, de quem busca atividades de aventura e ecoturismo.
                        </div>
                        </div>
                        <button class="vidro button button-full button-light icon icon-right ion-chevron-right">
                        O que fazer?
                        </button>
                        <button ng-click="irPT()" class="vidro button button-full button-light icon icon-right ion-chevron-right">
                        Pontos Turísticos
                        </button>
                        <button ng-click="irRestaurante()" class="vidro button button-full button-light icon icon-right ion-chevron-right">
                        Restaurantes
                        </button>
                        <button class="vidro button button-full button-light icon icon-right ion-chevron-right">
                        Hotéis
                        </button>
                        <button class="vidro button button-full button-light icon icon-right ion-chevron-right">
                        Eventos
                        </button>
        </ion-content>
</ion-view>