<ion-view class="fundoLocal" view-title="Parque Estadual Pedra Azul">
        <ion-content>
                        <div class="vidro card">
                                        <div class="item item-divider">
                                          Localização
                                        </div>
                                        <div class="item item-text-wrap">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.7255883203115!2d-41.02906568529621!3d-20.39420118634546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb9b37e9cd4cedf%3A0x3185cdddaf9c6a88!2sParque+Estadual+Pedra+Azul!5e0!3m2!1spt-BR!2sbr!4v1509229661711" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                        </div>

                        <button class="midia vidro rosa button button-full button-positive ion-ios-camera">
                                Mídia
                        </button>

                        <div class="vidro card">
                                        <div class="item item-divider">
                                        <div class="row">
                                        <div class="col">
                                        <img class="circulo-avaliacao"src="templates\img\henrique.jpg">
                                        </div>
                                        <div class="col-60">
                                        <div class="nomeAvaliacao">Henrique Rocha</div>
                                        <div class="row">
                                                <div class="Avaliacao">Avaliação: </div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                                <div class="estrela ion-ios-star"></div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="item item-text-wrap">
                                        <div class="textoAvaliacao">Gostei muito! Ambiente agradavel e muito bom para curtir com a familia :)</div>
                                        <img class="fotoAvaliacao"src="templates\img\bff96347-d7eb-4b82-805f-e000a63bd9fd.jpg">
                                        </div>
                                      </div>
        </ion-content>
</ion-view>