<ion-view class="fundoEntrar" view-title="Entrar">
        <ion-content>
            <div class="card">
                <div class="list list-inset">
                    <label class="item item-input">
                      <input type="text" placeholder="Usuario">
                    </label>
                    <label class="item item-input">
                      <input type="password" placeholder="Senha">
                    </label>
                  </div>
                </div>
            <button ng-click="irPerfil()" class="button button-full button-calm">
                Entrar
            </button>
            <button class="button button-full button-stable">
                Registre-se agora
              </button>
        </ion-content>
</ion-view>