<ion-view class="rosinha" view-title="Domingos Martins">
        <ion-content>
                
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="row">
                                <div class="col">
                        <div class="moeda2"> E$ 58,40</div>
                        <div class="preco">-E$ 50,00</div>
                        <div class="barra">-------------</div>
                        <div class="sobra">E$ 8,40</div>
                        </div><div class="col">
                        <button ng-click="irVouncher()" class="tamanho button button-calm icon icon-right ion-qr-scanner">Gerar Voucher</button>
                        
                        </div>
                        </div>
                    </div>
                </div>
                <div class="list card">
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-home"></i>
                            Hotel Bristol Vista Azul <div class="desconto">-15%</div>
                          </a>
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-android-restaurant"></i>
                            Restaurante Chopperia Fritz Frida
                            <div class="desconto">-50%*</div>
                          </a>
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-android-color-palette"></i>
                            Museu de Colonização Alemã <div class="desconto">-85%</div>
                          </a>
                        
                          <a class="item item-icon-left">
                            <i class="icon ion-android-walk"></i>
                            Cavalgada Ecológica no Fjordland <div class="desconto">-40%</div>
                          </a>
                        
                        </div>
        </ion-content>
</ion-view>